.shop-cart {
  width: 990px;
  margin: 40px auto; }
  .shop-cart .shop-cart .red {
    color: #d0021b; }
  .shop-cart .order-ensure-title {
    position: relative;
    margin: 40px auto 50px; }
  .shop-cart .order-ensure-title:before {
    content: "";
    display: block;
    background: url(../img/sprite.cart.png?) -234px -38px;
    background-size: 460px 217px;
    width: 150px;
    height: 42px; }
  .shop-cart .shopping-step {
    width: 440px;
    font-size: 15px;
    font-weight: 300;
    display: block;
    border-top: 2px solid #b0b0b0;
    position: absolute;
    right: 2px;
    top: 0; }
    .shop-cart .shopping-step li {
      display: block;
      float: left;
      position: relative;
      width: 33.33%;
      color: #999;
      line-height: 40px;
      text-align: center; }
    .shop-cart .shopping-step li:after {
      content: "";
      display: block;
      position: absolute;
      background: url(../img/sprite.cart.png?) 0 -205px;
      background-size: 460px 217px;
      width: 12px;
      height: 12px;
      left: 50%;
      margin-left: -6px;
      top: -7px; }
    .shop-cart .shopping-step .focus {
      color: #444; }
    .shop-cart .shopping-step .focus:after {
      background: url(../img/sprite.cart.png?) -20px -205px;
      background-size: 460px 217px; }
    .shop-cart .shopping-step li.first {
      text-align: left;
      left: -2px; }
    .shop-cart .shopping-step li.first:after {
      left: 0;
      margin-left: 0; }
    .shop-cart .shopping-step li.last {
      text-align: right;
      right: -2px; }
  .shop-cart .cartnew-tips {
    height: auto;
    overflow: hidden;
    font-size: 12px;
    font-weight: 300;
    margin-bottom: 10px; }
    .shop-cart .cartnew-tips .tipsbox {
      position: relative;
      float: left;
      width: 100%;
      height: 24px;
      line-height: 24px;
      padding: 4px 0;
      color: #818181;
      font-size: 14px;
      font-weight: 300;
      background-color: #f0f0f0; }
      .shop-cart .cartnew-tips .tipsbox a {
        color: #0883de; }
      .shop-cart .cartnew-tips .tipsbox .btn-close {
        width: 13px;
        height: 13px;
        padding: 0;
        margin-right: 30px;
        margin-top: 5px;
        background: url(../img/sprite.cart.png) -204px -159px;
        background-size: 460px 217px;
        float: right;
        cursor: pointer; }
      .shop-cart .cartnew-tips .tipsbox strong {
        font-weight: 400;
        padding-left: 30px; }
  .shop-cart .order-pay {
    width: 100%;
    line-height: 150%; }
    .shop-cart .order-pay .cart-title {
      padding: 0 30px;
      background: #444;
      height: 50px;
      overflow: hidden; }
      .shop-cart .order-pay .cart-title p {
        float: left;
        display: inline-block;
        height: 50px;
        line-height: 50px;
        font-size: 16px;
        font-weight: 300;
        color: #fff;
        vertical-align: middle;
        text-align: center;
        position: relative; }
      .shop-cart .order-pay .cart-title p.left {
        text-align: left; }
        .shop-cart .order-pay .cart-title p.left input {
          border: none;
          background: #fff;
          width: 14px;
          height: 14px;
          position: absolute;
          top: 17px;
          left: 5px; }
      .shop-cart .order-pay .cart-title p:first-child {
        padding-left: 20px; }
    .shop-cart .order-pay .promotion-pool {
      margin-top: 20px; }
    .shop-cart .order-pay .cart-item-check {
      position: absolute;
      top: 17px;
      left: 30px;
      width: 15px;
      height: 15px;
      color: #fff;
      float: left;
      margin-top: 0;
      display: inline-block;
      cursor: pointer; }
    .shop-cart .order-pay .table {
      width: 100%; }
      .shop-cart .order-pay .table li {
        position: relative;
        padding: 0 30px 0 54px;
        height: 150px; }
        .shop-cart .order-pay .table li .cart-item-check {
          top: 63px; }
      .shop-cart .order-pay .table .tr {
        border-bottom: 1px solid #e0e0e0;
        background: #f5f5f5; }
        .shop-cart .order-pay .table .tr .td {
          float: left;
          padding: 30px 0;
          font-size: 15px;
          font-weight: 300;
          text-align: center; }
    .shop-cart .order-pay .product-price {
      margin-top: 33px;
      position: relative; }
    .shop-cart .order-pay .adjust-cart-num, .shop-cart .order-pay .sub-total {
      margin-top: 33px; }
    .shop-cart .order-pay .adjust-cart-num .cart-num-cont {
      position: relative;
      width: 98px;
      height: 30px;
      margin-left: 15px; }
      .shop-cart .order-pay .adjust-cart-num .cart-num-cont .minus {
        position: absolute;
        top: 0;
        left: 1px; }
      .shop-cart .order-pay .adjust-cart-num .cart-num-cont .plus {
        position: absolute;
        top: 0;
        left: 67px; }
      .shop-cart .order-pay .adjust-cart-num .cart-num-cont .icon-plus {
        display: inline-block;
        vertical-align: middle;
        font-size: 17px;
        color: #b0b0b0; }
      .shop-cart .order-pay .adjust-cart-num .cart-num-cont .cart-num-btn {
        display: inline-block;
        width: 30px;
        height: 30px;
        border: 1px solid #e0e0e0;
        background-color: #fff;
        cursor: pointer;
        text-align: center;
        line-height: 20px;
        box-sizing: border-box; }
        .shop-cart .order-pay .adjust-cart-num .cart-num-cont .cart-num-btn i {
          font-size: 26px; }
      .shop-cart .order-pay .adjust-cart-num .cart-num-cont .cart-num-btn:first-of-type {
        line-height: 25px; }
      .shop-cart .order-pay .adjust-cart-num .cart-num-cont input {
        position: absolute;
        top: 0;
        left: 30px; }
    .shop-cart .order-pay .adjust-cart-num input {
      box-sizing: border-box;
      width: 38px;
      text-align: center;
      height: 30px;
      color: #444;
      background: #fff;
      font-size: 15px;
      border: 1px solid #e0e0e0; }
    .shop-cart .order-pay .cart-operation {
      margin-top: 21px; }
      .shop-cart .order-pay .cart-operation .cart-col-btn, .shop-cart .order-pay .cart-operation .cart-del-btn {
        display: block;
        font-size: 12px;
        font-weight: 300;
        color: #000;
        text-align: right;
        cursor: pointer; }
  .shop-cart .pre-sell {
    background: #fff;
    color: #818181;
    font-size: 14px;
    font-weight: 300;
    height: 30px;
    line-height: 30px;
    padding-left: 55px;
    padding-top: 20px;
    position: relative;
    margin-bottom: 1px; }
  .shop-cart .cart-table {
    border: 1px solid #e0e0e0; }
    .shop-cart .cart-table .table.table-group:last-child li.tr:last-child, .shop-cart .cart-table .table:last-child li.tr:last-child {
      border-bottom: none; }
  .shop-cart .pay-pro-icon {
    float: left;
    width: 66px;
    height: 90px;
    border: 1px solid #e9e9e9;
    box-sizing: border-box;
    display: block;
    position: relative; }
    .shop-cart .pay-pro-icon img {
      max-width: 64px;
      width: 85px; }
  .shop-cart .pay-pro-info {
    float: left;
    text-align: left;
    padding-left: 15px;
    padding-top: 0;
    margin-left: 0;
    width: 280px; }
    .shop-cart .pay-pro-info a {
      display: block;
      width: 280px;
      min-height: 44px;
      padding-left: 3px;
      color: #444;
      font-size: 15px;
      font-weight: 300;
      line-height: 1.5;
      text-decoration: none;
      text-align: left;
      overflow: hidden;
      text-overflow: ellipsis;
      word-break: break-all;
      -webkit-line-clamp: 2;
      -webkit-box-center: center;
      -webkit-align-items: center; }
    .shop-cart .pay-pro-info .pay-pro-detail {
      margin-top: 0;
      display: inline-block;
      border: 1px dashed transparent;
      box-sizing: border-box;
      height: 26px;
      line-height: 26px;
      cursor: pointer; }
    .shop-cart .pay-pro-info span {
      display: block;
      padding-left: 3px;
      font-size: 13px;
      font-weight: 300;
      color: #9a9a9a;
      text-align: left; }
      .shop-cart .pay-pro-info span b {
        display: inline-block;
        vertical-align: bottom;
        max-width: 110px;
        margin-right: 10px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-style: normal;
        font-weight: 300; }
      .shop-cart .pay-pro-info span i {
        font-size: 14px;
        font-weight: 300;
        margin-left: 40px;
        display: inline-block;
        width: 14px;
        height: 14px;
        vertical-align: baseline;
        margin-right: 3px;
        visibility: hidden; }
  .shop-cart .cart-fixed-submit {
    height: 50px;
    font-weight: 300;
    font-size: 14px;
    margin-top: 20px; }
    .shop-cart .cart-fixed-submit .cart-fixed-wrap {
      width: 100%;
      height: 50px;
      line-height: 50px;
      background-color: #e0e0e0; }
    .shop-cart .cart-fixed-submit .fixed.cart-fixed-wrap {
      position: fixed;
      left: 0;
      bottom: 0;
      z-index: 9999; }
    .shop-cart .cart-fixed-submit .center-content {
      width: 990px;
      position: relative;
      padding-left: 50px;
      box-sizing: border-box; }
    .shop-cart .cart-fixed-submit .fixed-option {
      margin-right: 60px;
      position: relative; }
    .shop-cart .cart-fixed-submit .center-content > * {
      display: inline-block; }
    .shop-cart .cart-fixed-submit .cart-item-check {
      position: absolute;
      top: 17px;
      left: -35px;
      width: 15px;
      height: 15px;
      color: #fff;
      float: left;
      margin-top: 0;
      margin-left: 15px;
      display: inline-block;
      cursor: pointer; }
    .shop-cart .cart-fixed-submit .fixed-option > a {
      color: #017cf8;
      margin-left: 20px; }
    .shop-cart .cart-fixed-submit .select-num {
      margin-right: 26px; }
    .shop-cart .cart-fixed-submit strong {
      color: #d0021b; }
    .shop-cart .cart-fixed-submit .price-sum {
      width: 264px;
      line-height: 1.3;
      vertical-align: middle; }
      .shop-cart .cart-fixed-submit .price-sum .sum {
        position: relative; }
        .shop-cart .cart-fixed-submit .price-sum .sum kbd {
          font-weight: 400; }
      .shop-cart .cart-fixed-submit .price-sum .sum > strong {
        line-height: 1;
        font-size: 20px;
        font-weight: 700;
        position: absolute;
        right: 0; }
      .shop-cart .cart-fixed-submit .price-sum .offer {
        color: #afafaf; }
    .shop-cart .cart-fixed-submit .btn-account {
      width: 150px;
      height: 50px;
      padding: 0;
      text-align: center;
      border: 0;
      line-height: 50px;
      font-size: 20px;
      color: #fff;
      font-weight: 700;
      display: inline-block;
      background-color: #d0021b;
      cursor: pointer;
      float: right; }
    .shop-cart .cart-fixed-submit .btn-account.btn-account-disable {
      background-color: #b0b0b0;
      cursor: not-allowed; }
